.main_nav {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  position: sticky;
  z-index: 3;
  background-color: white;
}

.main_nav a,
.main_nav a:active,
.main_nav a:visited {
  text-decoration: none;
  color: black;
  transition: all .2s;
}

.main_nav a.active,
.main_nav a:hover {
  color: #e2c000 !important;
}

.link_icon {
  margin:0 5px;
}
.nav_list {
  list-style-type: none;
  margin-bottom: 0;
  padding-left: 0;
  display: flex;
  gap: 15px;
}

.nav_brandText {
  font-weight: lighter;
  text-transform: uppercase;
}

.nav_brandText:hover{
  color: #e2c000;
}

/* Cart icon */

.nav_cartIcon {
  position: relative;
}

.nav_cartQuant {
  position: absolute;
  z-index: 1;
  background-color: #e2c000;
  color: black !important;
  height: fit-content;
  width: 20px;
  border-radius: 10px;
  font-style: normal;
  font-size: 12px;
  top: -10px;
  left: 25px;
}


